---
import Layout from "@/layouts/Layout.astro";

import CodeIcon from "@/components/icons/Code.astro";
import SectionContainerP from "@/components/SectionContainerP.astro";

import ProjectsAll from "@/components/ProjectsAll.astro";
---

<Layout
  title="Porfolio de William Guaña"
  description="Contrata a nevmetal para crear tu aplicación web."
>
  <main class="px-4 bg-gradient-to-t dark:from-gray-500 from-indigo-200">
    <SectionContainerP id="proyectos" class="py-16 md:py-36">
      <h1
        class="flex items-center justify-center  mb-10 text-5xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />Proyectos
      </h1>

      <ProjectsAll />
    </SectionContainerP>
  </main>
</Layout>
